body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  background-color: rgb(61, 156, 190);
}

.wrapper {
  height: 100vh;
  overflow-y: scroll; /* Changed from auto to scroll */
  overflow-x: hidden;
  perspective: 10px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.wrapper::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Arial Black', Arial, sans-serif;
  letter-spacing: 2px;
  opacity: 0; /* Start with the text hidden */
  animation: fadeIn 2.5s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with the text hidden */
  }
  to {
    opacity: 1; /* Fade the text in */
  }
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#section-form {
  background: linear-gradient(135deg, #71e9df, #677d70);
  height: 50%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#input-container {
  background: linear-gradient(135deg, #2ccabd, #73d498);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#imageInput,
#uploadButton {
  margin: 1rem 0;
}

#uploadButton {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#uploadButton:hover {
  background-color: #555;
}

.button-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

#imageInput:hover {
  border-color: #555;
}

form {
  width: 100%;
  max-width: 500px;
  border: 4px dashed #fff;
  padding: 20px;
  position: relative;
  text-align: center;
}

form p {
  margin: 0;
  color: #333;
}

form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

form button {
  margin-top: 20px;
  color: #fff;
  background: #16a085;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
}

form button:hover {
  background: #149174;
  color: #0C5645;
}

form button:active {
  border: 0;
}
